In [1]:
import pandas as pd
import matplotlib as mlp

In [38]:
df = pd.DataFrame({"Padron":[102145,102145,102146,102146,102146],"Materia":["Fisica","Analisis 2","Fisica","Quimica","Discreta"],"Nota":[7,8,3,5,2],"Fecha":["31-03-2018","28-02-2019","24-10-2019","30-06-2019","15-11-2019"]})

In [39]:
df

   Padron     Materia  Nota       Fecha
0  102145      Fisica     7  31-03-2018
1  102145  Analisis 2     8  28-02-2019
2  102146      Fisica     3  24-10-2019
3  102146     Quimica     5  30-06-2019
4  102146    Discreta     2  15-11-2019

# Inciso A: Promedio de notas

In [40]:
df.Nota.mean()

5.0

# Inciso B: Nota mas alta del 2019

In [41]:
df["Fecha"] = pd.to_datetime(df.Fecha)

In [42]:
df.loc[df.Fecha.dt.year == 2019].Nota.max() #Nota maxima

8

In [43]:
df.loc[df.Fecha.dt.year == 2019].Nota.min() #Nota minima

2

# Inciso C: Padron con mas notas aprobadas

In [65]:
df["MateriaAprobada"] = df.Nota >= 4

In [85]:
df["MateriaAprobada"] = df.Nota.map(lambda nota: 1 if nota > 4 else 0)

In [86]:
df.head()

   Padron     Materia  Nota      Fecha  MateriaAprobada
0  102145      Fisica     7 2018-03-31                1
1  102145  Analisis 2     8 2019-02-28                1
2  102146      Fisica     3 2019-10-24                0
3  102146     Quimica     5 2019-06-30                1
4  102146    Discreta     2 2019-11-15                0

In [95]:
df.groupby("Padron").agg({"MateriaAprobada":["sum"]}).reset_index()

   Padron MateriaAprobada
                      sum
0  102145               2
1  102146               1

In [87]:
df.groupby("Padron").agg({"MateriaAprobada":["sum"]}).MateriaAprobada.idxmin()

sum    102146
dtype: int64

In [97]:
df.Nota.value_counts()

7    1
5    1
3    1
2    1
8    1
Name: Nota, dtype: int64

In [101]:
df.loc[(df.Fecha.dt.month >= 6) & (df.Fecha.dt.year == 2019)].groupby("Padron").agg({"MateriaAprobada":["sum"]}).MateriaAprobada.idxmax()

sum    102146
dtype: int64

In [102]:
df.loc[(df.Fecha.dt.month >= 6) & (df.Fecha.dt.year == 2019)].groupby("Padron").agg({"MateriaAprobada":["sum"]}).MateriaAprobada.idxmin()

sum    102146
dtype: int64

# Nota promedio por padron

In [105]:
df.groupby("Padron").agg({"Nota":"mean"})

            Nota
Padron
102145  7.500000
102146  3.333333