In [1]:
import pandas as pd

In [15]:
df = pd.read_csv("ejercicio2.csv")

# Inciso A: validar que todas las transacciones cuenten con un tipo

In [16]:
df.head()

,nro de transaccion,tipo de transaccion,cuenta origen,cuenta destino,fecha,hora,monto
0,0,extraccion,101924,102145.0,31-03-1998,5:55,50
1,1,extraccion,100274,204822.0,31-03-1998,5:55,13839
2,2,transferencia,204822,101924.0,31-03-1998,5:55,14886
3,3,extraccion,101924,204822.0,31-03-1998,5:55,8260
4,4,deposito,204012,204822.0,31-03-1998,5:55,12434

In [17]:
df["tipo de transaccion"].notnull().all()

False

# Inciso B: validar que todas las transferencias tengan tanto cuenta de origen como cuenta de destino

In [18]:
df.loc[df["tipo de transaccion"] == "transferencia"]["cuenta origen"].notnull().all()

True

In [19]:
df.loc[df["tipo de transaccion"] == "transferencia"]["cuenta destino"].notnull().all()

True

# Inciso C: Verificar que todas las transferencias, depositos y extracciones tengan montos distintos de 0

In [26]:
df.loc[(df["tipo de transaccion"] == "transferencia") | (df["tipo de transaccion"] == "deposito") | (df["tipo de transaccion"] == "extraccion")].monto.map(lambda monto: monto != 0).all()

False

# Inciso D: Indicar las 10 transacciones de mayor monto

In [31]:
df.nlargest(10,'monto')

,nro de transaccion,tipo de transaccion,cuenta origen,cuenta destino,fecha,hora,monto
2,2,transferencia,204822,101924.0,31-03-1998,5:55,14886
61,61,deposito,100274,202123.0,31-03-1998,5:55,14795
11,11,extraccion,102145,100274.0,31-03-1998,5:55,14610
31,31,extraccion,204822,103123.0,31-03-1998,5:55,14479
88,88,extraccion,101924,204012.0,31-03-1998,5:55,14375
40,40,transferencia,102145,103123.0,31-03-1998,5:55,14312
42,42,transferencia,202123,204012.0,31-03-1998,5:55,14302
1,1,extraccion,100274,204822.0,31-03-1998,5:55,13839
93,93,transferencia,101924,103123.0,31-03-1998,5:55,13514
6,6,extraccion,100274,103123.0,31-03-1998,5:55,13262

# Inciso E: Tipo de transaccion que registra mayor monto promedio

In [48]:
df.groupby("tipo de transaccion").agg({"monto":"mean"}).nlargest(1, "monto")

                           monto
tipo de transaccion
transferencia        8137.129032

# Inciso F: Cuenta con mas transacciones

In [50]:
df.groupby("cuenta origen").count().nlargest(1, "nro de transaccion")

,nro de transaccion,tipo de transaccion,cuenta destino,fecha,hora,monto
cuenta origen,,,,,,
101924,16,16,16,16,16,16

# Inciso G: Las 5 cuentas con mayor monto involucrado

In [51]:
df.groupby("cuenta origen").agg({"monto":"max"}).nlargest(5,"monto")

               monto
cuenta origen
204822         14886
100274         14795
102145         14610
101924         14375
202123         14302

# Inciso H: Para el tipo de transaccion con mayor monto promedio, indicar cuales son las cuentas con mayor cantidad de transacciones

In [54]:
df.loc[df["tipo de transaccion"] == "transferencia"].groupby("cuenta origen").count().nlargest(1, "tipo de transaccion")

,nro de transaccion,tipo de transaccion,cuenta destino,fecha,hora,monto
cuenta origen,,,,,,
204822,6,6,6,6,6,6